/*body{
    } */
/*.resizeimage { 
    width: 50%; 
    text-align: center;
}*/


/*
#page {
    width: auto;
    margin: 0 auto;

  }
  #content {
    width: 50%;
    float: center;
  }
  #sidebar {
    width: 300px;
    float: center;
    
  }

  @media screen and (max-width: 1000px) {
    #page {
      width: 98%;
   
    }
    #content {
      width: 70%;
    }
    #sidebar {
      width: 30%;
    }
      }

  @media screen and (max-width: 700px) {
 
    #content {
      width: 100%;
    }
    #sidebar {
      width: 100%;
    }
  }

image-vw {
    width : 50vw ; 
  }
*/


/*
.resizeimage img { width: 50%; }*/

body
{background-image: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
}

.milky {
    
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center; 
    width: 100%;
    height:auto;

    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
   /* text-transform: uppercase;
    display: block;
    font-size: 72px;  */
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    
    /*
    padding: 20px 70px;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px; */
    white-space: nowrap;
  }
/*
  .koyade{
      position:absolute;
      top:0;
      left:0;
  }
  .koyade-img{
      width:auto;
      height:auto;
      max-width: 100%;

  }
  */
